*.pyc
*.pyo
*.pyd
*.cover
*.log

.tox
.cache
.git
.github
.githooks
.gitignore
.dockerignore
.Python
.pre-commit-config.yaml
.mypy_cache
.pytest_cache
.hypothesis
.idea
.venv
.data
.DS_Store
.ruff_cache
.docker_password

env
pip-log.txt
pip-delete-this-directory.txt
coverage.xml
docker-compose.yaml
Dockerfile
Makefile
README.md
bt_cli.egg-info

__pycache__/
__pycache__

arman
htmlcov
